{% extends 'trash_manager/base_table.html' %}
{% load i18n %}

{% block table_head %}
  {% if info|length %}
    <tr>
      <th><th>{% trans "Path in trash" %}</th>
      <th>{% trans "Deletion Date" %}</th>
      <th>{% trans "Size" %}</th>
    </tr>
  {% endif %}
{% endblock table_head %}

{% block table_body %}
  {% for trash_info in info %}
      <tr>
        {% if trash_info.errors %}
          <td>
            {% for error in trash_info.errors %}
              <div class="container-fluid alert alert-danger">
                <strong>{% trans "Error" %}!</strong> {{error}}
              </div>
            {% endfor %}
          </td>
        {% else %}
          <td>{{ trash_info.path_in_trash }}</td>
          <td>{{ trash_info.deletion_date }}</td>
          <td>{{ trash_info.size|filesizeformat }}</td>
        {% endif %}
      </tr>
  {% empty %}
    <h4>{% trans "Oops! It's empty!" %}</h4>
  {% endfor %}
{% endblock table_body %}
