{% extends 'trash_manager/base_table.html' %}

{% block left_sidebar %}
  <a href="{{request.session.prev}}?add=paths" class="btn btn-default button" role="button">Close</a>
{% endblock %}

{% block before_table %}
  <h2>{{path}}</h2>
  <input type="hidden" name="path" value="{{path}}"></input>
  <button type="submit" class="btn btn-default" name="add">Add</button>
{% endblock before_table %}

{% block table_head %}
  <tr>
    <th><input type="checkbox" name="all" value=""></input></th>
    <th>Name</th>
  </tr>
{% endblock table_head %}

{% block table_body %}
  {% for directory in directories %}
      <tr>
        <td><input type="checkbox" name="choices" value="{{directory}}"></input></td>
        <td>
          <a href="/filesystem/?path={{path|urlencode}}/{{directory}}">{{directory}}</a>
        </td>
      </tr>
  {% endfor %}
  {% for file in files %}
      <tr>
        <td><input type="checkbox" name="choices" value="{{file}}"></input></td>
        <td>
          {{ file }}
        </td>
      </tr>
  {% endfor %}
{% endblock table_body %}
