{% extends 'trash_manager/base_table.html' %}

{% block active_navbar %}
  <li><a href="{% url 'trash_list' %}">Trashs</a></li>
  <li><a href="{% url 'task_list' %}">Tasks</a></li>
  <li class="active"><a href="{% url 'history' %}">History</a></li>
{% endblock %}

{% block table_head %}
  {% if task_list|length %}
    <tr>
      <th>Task</th>
      <th>Trash</th>
      <th>Deletion time</th>
      <th>Status</th>
    </tr>
  {% endif %}
{% endblock table_head %}

{% block table_body %}
  {% for task in task_list %}
      <tr>
        <td>{{ task.id }}</a></td>
        <td>{{ task.trash.name }}</td>
        <td>{{ task.time }}</td>
        <td>{{ task.status }}</td>
      </tr>
  {% empty %}
  <h3> You have clear history. Hmm, suspiciously! </h3>
  {% endfor %}
{% endblock table_body %}

{% block after_table %}
  <button type="submit" class="btn btn-default button" name="clean">Clean</button>
{% endblock %}
