{% extends 'trash_manager/base_table.html' %}
{% load i18n %}
{% block left_sidebar %}
  <a href="{% url 'new_task' %}" class="btn btn-default button" role="button">{% trans "Add task" %}</a>
{% endblock %}

{% block table_head %}
  {% if task_list|length %}
  <tr>
    <th><input type="checkbox" name="all" value=""></input></th>
    <th>{% trans "Task" %}</th>
    <th>{% trans "Trash" %}</th>
    <th>{% trans "Status" %}</th>
    <th></th>
  </tr>
  {% endif %}
{% endblock table_head %}

{% block table_body %}
    {% for task in task_list %}
        <tr>
          <td><input type="checkbox" name="choices" value="{{task.id}}"></input></td>
          <td><a href="{% url 'task_settings' pk=task.id %}">{{ task.id }}</a></td>
          <td>{{ task.trash.name }}</td>
          <td>{{ task.status }}</td>
          <td>
            {% if task.status == "W" %}
              <a href="{% url 'run_task' pk=task.id%}"><span class="glyphicon glyphicon-play"></span>  {% trans "Run" %}</a>
            {% endif %}
          </td>
        </tr>
    {% empty %}
      <h3>{% trans "No tasks, yet. Create first!" %}</h3>
    {% endfor %}

{% endblock table_body %}

{% block after_table %}
  {% if task_list|length %}
    <button type="submit" class="btn btn-default button" name="delete">{% trans "Delete" %}</button>
  {% endif %}
{% endblock %}
