{% extends 'trash_manager/base_table.html' %}

{% block left_sidebar %}
    <a href="{% url 'task_list' %}" class="btn btn-default button" role="button"><span class="glyphicon glyphicon-remove"></span> Close</a>
{% endblock %}

{% block table_head %}
  <tr>
    <th>Path in trash</th>
    <th>Deletion Date</th>
    <th>Size</th>
  </tr>
{% endblock table_head %}

{% block table_body %}
  {% for trash_info in info %}
      <tr>
        {% if trash_info.errors %}
          <td>
            {% for error in trash_info.errors %}
              <div class="alert alert-danger">
                <strong>Error!</strong> {{error}}
              </div>
            {% endfor %}
          </td>
        {% else %}
          <td>{{ trash_info.path_in_trash }}</td>
          <td>{{ trash_info.deletion_date }}</td>
          <td>{{ trash_info.size|filesizeformat }}</td>
        {% endif %}
      </tr>
  {% endfor %}
  <div>
      <a href="{% url 'task_list' %}" class="btn btn-default" role="button">Close</a>
  </div>
{% endblock table_body %}
