{% extends 'trash_manager/base_table.html' %}

{% block active_navbar %}
  <li class="active"><a href="{% url 'trash_list' %}">Trashs</a></li>
  <li><a href="{% url 'task_list' %}">Tasks</a></li>
  <li><a href="{% url 'history' %}">History</a></li>
{% endblock %}

{% block left_sidebar %}
  <a href="{% url 'new_trash' %}" class="btn btn-default button" role="button">Add trash</a>
{% endblock left_sidebar %}

{% block table_head %}
  <tr>
    <th><input type="checkbox" name="all" value=""></input></th>
    <th>Trash</th>
    <th>Location</th>
    <th></th>
  </tr>
{% endblock table_head %}

{% block table_body %}
  {% for trash in trashs %}
      <tr>
        <td><input type="checkbox" name="choices" value="{{trash.name}}"></input></td>
        <td><a href="{% url 'trash_content' trash_name=trash.name %}">{{ trash.name }}</a></td>
        <td>{{ trash.location }}</td>
        <td>
          <a href="{% url 'trash_settings' trash_name=trash.name%}"><span class="glyphicon glyphicon-cog"></span>  Edit</a>
        </td>
      </tr>
  {% endfor %}
{% endblock table_body %}

{% block after_table %}
  <button type="submit" class="btn btn-default button" name="delete">Delete</button>
{% endblock %}
