{% extends 'trash_manager/table.html' %}

{% block left_sidebar %}
  <a href="{% url 'new_task' %}" class="btn btn-default" role="button">Add task</a>
  <a href="{% url 'delete_task' %}" class="btn btn-default" role="button">Delete task</a>
  <a href="{% url 'run_task' %}" class="btn btn-default" role="button">Run task</a>
{% endblock %}

{% block active_navbar %}
  <li><a href="{% url 'trash_list' %}">Trashs</a></li>
  <li class="active"><a href="{% url 'task_list' %}">Tasks</a></li>
  <li><a href="{% url 'history' %}">History</a></li>
{% endblock %}

{% block table_head %}
  <tr>
    <th>Task</th>
    <th>Trash</th>
    <th>Status</th>
  </tr>
{% endblock table_head %}

{% block table_body %}
  {% for task in task_list %}
      <tr>
        <td><a href="{% url 'task_detail' pk=task.id %}">{{ task.id }}</a></td>
        <td>{{ task.trash.name }}</td>
        <td>{{ task.status }}</td>
      </tr>
  {% endfor %}
{% endblock table_body %}
