{% extends 'trash_manager/table.html' %}

{% block before_table %}
  <a href="{% url 'new_trash' %}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span> Add trash</a>
{% endblock before_table %}

{% block table_head %}
  <tr>
    <th>Trash</th>
    <th>Location</th>
  </tr>
{% endblock table_head %}

{% block table_body %}
  {% for trash in trashs %}
      <tr>
        <td><a href="{% url 'trash_detail' trash_name=trash.name %}">{{ trash.name }}</a></td>
        <td>{{ trash.location }}</td>
      </tr>
  {% endfor %}
{% endblock table_body %}
