/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 600px}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #FFDAB9;
  height: 100%;
}
.button {
  width: 100px;
  margin-left:auto;
  margin-right:auto;
}
.alert {
    width:70%
    height:10px
}
/* Set black background color, white text and some padding */
footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
