body, html {
  height: 100%
}
.main {
  min-height: 100%;
  position: relative;
  background: #FFDAB9;
  background-size: cover
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.row.content {height: 600px}

.sidenav {
  padding-top: 20px;
  background-color: #FFDAB9;
  height: 100%;
}
.button {
  width: 100px;
  margin-left:auto;
  margin-right:auto;
}
.alert {
  width:70%
}

.center {
  background: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 500px
}


footer {
  background-color: #555;
  color: white;
  padding: 15px;
}
